ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

li {
  display: inline-block;
  font-family: monospace;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(84,187,219);
}

body {
    background-color: black;
}

.maintext {
	width:40%;
	margin:0 auto;
  background-color: white;
  padding: 15px;
}

.bloglist a {
  text-decoration: none;
}

.bloglist a:hover {
  color: green;
}

.rowImg {
max-width: 100%;
padding: 10px 0px;
}

.centerImg {
margin-left: auto;
margin-right: auto;
max-width: 100%;
padding: 10px 0px;
display: block;
}

.navi {
  width:40%;
  margin:0 auto;
  padding: 15px;
}

.dallogo {
  max-height: 30px; 
  float: left; 
}



table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}
